#search_btn {
  background-color: #1cd8f9;
}
#cart {
  font-size: 1rem;
  color: white;
}

#cart_count {
  background-color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  color: #012e64;
  font-weight: bold;
  font-size: 0.9rem;
}

#login_btn {
  background-color: #012e64;
  padding: 0.5rem 1.5rem;
  font-family: calibri;
  color: white;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.5s ease;
}

#login_btn:hover {
  background-color: white;
  color: #012e64;
}

.mob-nav-user-box {
  height: 100%;
  width: 45%;
  background-color: #1cd8f9;
  color: #012e64;
  border-radius: 8px;
  position: relative;
  padding: 10px 25px;
}
